@font-face {
	font-family: monokai;
	src: url('./fonts/monokai.ttf');
}

@font-face {
	font-family: inconsolata;
	src: url('./fonts/inconsolata.otf');
}

@font-face {
	font-family: Garamond;
	src: url('./fonts/Garamond.otf');
}

body {
	margin: 20px;
	font-family: Garamond;
	letter-spacing: 2px;
	background-color: white;
}

a.nav-link {
	width: 100%;
}

.top-spacing {
	margin-top: 25px;
}

li.list-inline-item:not(:first-child) {
	margin-left: 0.5rem;
}
